table {
	border: 1px #000 solid;
}

table tr th {
	background-color: #ccc;
}

#table1 {
	width: 800px;
}

table span.ui-resize {
	cursor			: col-resize;
	display			: inline;
	float			: right;
	height			: 22px;
	margin			: -3px -5px -5px 0;
	width			: 8px;
	z-index			: 10000;
	background-image: url(../images/drag.png);
}

table tr td, table tr th {
	overflow: hidden;
	white-space: nowrap;
}

.ghost {
	width: 2px;
	background-image: url(../images/separator.gif);
}